@use "../variables/_colors.scss";

.login {
  display: flex;
  grid-template-columns: 50vw 50vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .login-left-content {
    width: 45%;
    height: 100vh;
    background-color: colors.$purple;
  }

  .login-right-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    max-width: 380px;
    width: 100%;
  }

  @media (max-width: 600px) {
    background-color: colors.$white;

    .login-left-content {
      display: none;
    }

    .login-right-content {
      width: 100%;
    }
  }
}
