@use "../variables/_colors.scss";

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1.5rem;
  max-width: 1440px;
  margin: 0px auto;
  margin-top: 40px;
}

.tool-card {
  background: colors.$white;
  padding: 1.2rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  text-align: left;
  transition: transform 0.2s ease;

  h3 {
    margin-top: 0px;
    margin-bottom: 12px;
  }

  p {
    margin-bottom: 32px;
  }
}

.tool-card:hover {
  transform: translateY(-4px);
}

.tool-card a {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: colors.$purple;
  color: colors.$white;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: colors.$purpleHover;
  }
}
